̥body {
    background-color: rgb(104, 118, 133);
    text-align: center;
}

h1 {
    font-size: 6rem;
    margin-top: 60px;
    font-family: 'Pacifico', cursive;
    text-shadow: 5px 0px rgb(252, 1, 126);

}

p {
  border-radius: 100px;
  margin-left: 30px;
  background-color: whitesmoke;
  width: 50px;
}

.drums {
    margin-top: 100px;
}

.drum {
    height: 150px;
    width: 150px;
    border-radius: 10px;
    font-size: 2em;
    margin-right: 30px;
    border: solid 11px rgb(255, 0, 128);
    
}

.pressed {
  border: solid 9px rgb(252, 135, 193);
  opacity: 0.5;
  box-shadow: 3px 3px 5px 3px;
}

.A {
  background-image: url("images/tom1.png");
}
  
.S {
  background-image: url("images/tom2.png");
}
  
.D {
  background-image: url("images/tom3.png");
}
  
.F {
  background-image: url("images/tom4.png");
}
  
.J {
  background-image: url("images/snare.png");
}
  
.K {
  background-image: url("images/crash.png");
}
  
.L {
  background-image: url("images/kick.png");
}

footer {
  margin-top: 80px;
  font-size: 1.5em;
  color: rgba(211, 179, 207, 0.849);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
  